h1{font-size: 100px;
font-family: monospace;}
img{size-adjust: 200px;
}
body{background: rgb(99, 97, 141);
    background: linear-gradient(90deg, rgba(2,0,36,1) 16%, rgba(7,7,17,1) 45%, rgba(0,212,255,1) 100%);}

h2{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
p{font-style: oblique;
font-size: 20px;}
h2{background-color: rgb(182, 154, 154);}
#fondo1{background-color: rgb(218, 216, 194);}
div{color: rgb(47, 36, 57);}
strong{font-size: 17px;}
div.img{
    width:500px; height:300px;
    }
    div.img{text-align:center;

    }
